@page "/DynamicForm"
@using Microsoft.Extensions.Localization
@using global::EasyAbp.DynamicForm.Localization
@inject IStringLocalizer<DynamicFormResource> L
@{
}
<h1>DynamicForm</h1>
<p>@L["SamplePageMessage"]</p>