@page
@using EasyAbp.DynamicForm.Permissions
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Mvc.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Layout
@using EasyAbp.DynamicForm.Web.Pages.DynamicForm.Forms.Form
@using EasyAbp.DynamicForm.Localization
@using EasyAbp.DynamicForm.Web.Menus
@model IndexModel
@inject IPageLayout PageLayout
@inject IHtmlLocalizer<DynamicFormResource> L
@inject IAuthorizationService Authorization
@{
    PageLayout.Content.Title = L["Form"].Value;
    PageLayout.Content.BreadCrumb.Add(L["Menu:Form"].Value);
    PageLayout.Content.MenuItemName = DynamicFormMenus.Form;
}

@section scripts
{
    <abp-script src="/Pages/DynamicForm/Forms/Form/index.js" />
}
@section styles
{
    <abp-style src="/Pages/DynamicForm/Forms/Form/index.css"/>
}

<script>
    let formTemplateId = '@Model.FormFilter.FormTemplateId'
</script>

<abp-card>
    <abp-card-header>
        <abp-row>
            <abp-column size-md="_6">
                <abp-card-title>@L["Form"]</abp-card-title>
            </abp-column>
            <abp-column size-md="_6" class="text-end">
			    @if (await Authorization.IsGrantedAsync(DynamicFormPermissions.Form.Create))
                {
                <abp-button id="NewFormButton"
                            text="@L["CreateForm"].Value"
                            icon="plus"
                            button-type="Primary" />
                }
            </abp-column>
        </abp-row>
    </abp-card-header>
    <abp-card-body>
        <abp-row class="mb-3">
            <a abp-collapse-id="Formcollapse" class="text-secondary">@L["TableFilter"] </a>
        </abp-row>
        <abp-collapse-body id="Formcollapse">
            <abp-dynamic-form abp-model="FormFilter" id="FormFilter" required-symbols="false"/>
            <hr />
        </abp-collapse-body>
        <abp-table striped-rows="true" id="FormTable" class="nowrap"/>
    </abp-card-body>
</abp-card>
