@page
@using EasyAbp.DynamicForm.Permissions
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Mvc.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Layout
@using EasyAbp.DynamicForm.Web.Pages.DynamicForm.FormTemplates.FormTemplate
@using EasyAbp.DynamicForm.Localization
@using EasyAbp.DynamicForm.Web.Menus
@model IndexModel
@inject IPageLayout PageLayout
@inject IHtmlLocalizer<DynamicFormResource> L
@inject IAuthorizationService Authorization
@{
    PageLayout.Content.Title = L["FormTemplate"].Value;
    PageLayout.Content.BreadCrumb.Add(L["Menu:FormTemplate"].Value);
    PageLayout.Content.MenuItemName = DynamicFormMenus.FormTemplate;
}

@section scripts
{
    <abp-script src="/Pages/DynamicForm/FormTemplates/FormTemplate/index.js" />
}
@section styles
{
    <abp-style src="/Pages/DynamicForm/FormTemplates/FormTemplate/index.css"/>
}

<abp-card>
    <abp-card-header>
        <abp-row>
            <abp-column size-md="_6">
                <abp-card-title>@L["FormTemplate"]</abp-card-title>
            </abp-column>
            <abp-column size-md="_6" class="text-end">
			    @if (await Authorization.IsGrantedAsync(DynamicFormPermissions.FormTemplate.Create))
                {
                <abp-button id="NewFormTemplateButton"
                            text="@L["CreateFormTemplate"].Value"
                            icon="plus"
                            button-type="Primary" />
                }
            </abp-column>
        </abp-row>
    </abp-card-header>
    <abp-card-body>
        <abp-row class="mb-3">
            <a abp-collapse-id="FormTemplateCollapse" class="text-secondary">@L["TableFilter"] </a>
        </abp-row>
        <abp-collapse-body id="FormTemplateCollapse">
            <abp-dynamic-form abp-model="FormTemplateFilter" id="FormTemplateFilter" required-symbols="false"/>
            <hr />
        </abp-collapse-body>
        <abp-table striped-rows="true" id="FormTemplateTable" class="nowrap"/>
    </abp-card-body>
</abp-card>
