@page
@using Microsoft.Extensions.Localization
@using EasyAbp.DynamicForm.Localization
@using EasyAbp.DynamicForm.Web.Pages.DynamicForm
@model EasyAbp.DynamicForm.Web.Pages.DynamicForm.IndexModel
@inject IStringLocalizer<DynamicFormResource> L

@{
}
<h1>DynamicForm</h1>
<p>@L["SamplePageMessage"]</p>
